<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>

            <% include partials/nav.ejs %>  <!--partial views-->
            <p>Thanks for getting in touch with</p>
               <p>you contacted<%=data.who%>  in the department of<%=data.department%> department</p>
           <p>we will reply to you at <%=data.email%></p>
        
</form>
    </body>
</html>